/* styles.css */

body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  margin: 0;
  margin: 20px;
  padding: 0;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

/* Responsive layout */
.container {
  align-items: flex-start;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 2rem;
  height: calc(100vh - 200px);
  justify-content: space-between;
  max-width: 1920px;
  padding: 20px;
  position: relative;
}

#start-crawling-btn {
  cursor: pointer;
}

#form {
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
  column-gap: 10px;
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  padding: 20px 40px 20px 0;
}

#item-count {
  left: 20px;
  position: absolute;
  top: 20px;
}

#results-table {
  height: 100%;
  overflow: scroll;
  position: relative;
}

#results-table table {
  border-collapse: collapse;
  margin-top: 35px;
  table-layout: fixed;
  width: 100%;
}

#results-table thead {
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
}

#results-table th,
#results-table td {
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  padding: 8px 12px;
  text-align: left;
}

#results-chart {
  min-width: 550px;
  width: 40%;
}

#results-chart img {
  width: 100%;
}
